#!/bin/sh
set -e

COMMAND_FILE="/var/miner/miner.json"
CONSOLE_LOG_LEVEL="2"
FILE_LOG_LEVEL="6"
WEB_PORT="38080"
WEB_HOST="127.0.0.1"
WEB_AUTH_TOKEN=
export WEB_LAUNCH_DELAY=5
export RESTART_DELAY=10
export GPU_FORCE_64BIT_PTR=1
export GPU_MAX_HEAP_SIZE=100
export GPU_USE_SYNC_OBJECTS=1
export GPU_MAX_ALLOC_PERCENT=100
export GPU_SINGLE_ALLOC_PERCENT=100

/usr/bin/excavator -c $COMMAND_FILE -d $CONSOLE_LOG_LEVEL -f $FILE_LOG_LEVEL -p 0 -wp $WEB_PORT -wi $WEB_HOST -wa $WEB_AUTH_TOKEN
