#!/bin/sh

# Unlock GPUs
sudo nvidia-xconfig --enable-all-gpus --cool-bits=28 --separate-x-screens --allow-empty-initial-configuration
sudo service lightdm restart

# Enable fan control and set fan speed to 100%
sudo DISPLAY=:0 XAUTHORITY=/var/run/lightdm/root/:0 nvidia-settings -a "[gpu:0]/GPUFanControlState=1" -a "[fan:0]/GPUTargetFanSpeed={{ nvidia_fan_speed }}"
sudo DISPLAY=:0 XAUTHORITY=/var/run/lightdm/root/:0 nvidia-settings -a "[gpu:1]/GPUFanControlState=1" -a "[fan:1]/GPUTargetFanSpeed={{ nvidia_fan_speed }}"
