#!/bin/bash
set -e

if [[ "$(id -u)" != 0 ]]; then
    echo "E: Changing nvidia settings requires root permissions" > /dev/stderr
    exit 1
fi

# Unlock GPUs
nvidia-xconfig \
    --allow-empty-initial-configuration \
    --cool-bits=28 \
    --enable-all-gpus \
    --separate-x-screens

service lightdm restart

# Enable fan control and set fan speed to 100%
export DISPLAY=:0
export XAUTHORITY=/var/run/lightdm/root/:0

GPU_IDS=(
    0
    1
)

for GPU_ID in "${GPU_IDS[@]}"
do
    nvidia-settings \
        -a "[gpu:$GPU_ID]/GPUFanControlState=1" \
        -a "[fan:$GPU_ID]/GPUTargetFanSpeed={{ nvidia_fan_speed }}"
done
